@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* Global styles */
.window-app {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.rollable:hover, .rollable:focus, .item-create:hover, .skill-rollable:hover, .skill-rollable:focus, .healing-phase:hover, .healing-phase:focus, .luckreset-rollable:hover, .luckreset-rollable:focus, .luckrecovery-rollable:hover, .luckrecovery-rollable:focus, .next-scene:hover, .next-scene:focus {
  color: #000;
  text-shadow: 0 0 10px blue;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.package-configuration .form-group {
  margin-bottom: 0rem;
}

.form-group label{
  font-weight: bold;
}

.package-configuration .form-fields input {
  text-align: right;
}

/* Styles limited to rol sheets-------------------------------------------------------------------------------------------------------------------------------------- */ 

.rol .window-content {
  background-image:url("./images/blue-paper.jpg");
  background-size: cover;
  overflow-y:hidden ;
  background-color: rgb(255, 255, 255);
}

.rol .tabs .item.active {
  text-shadow: 0 0 10px blue;
}

.rol .tabs .item.navtitle:hover {
  text-shadow: 0 0 10px blue;
}


.difficult-centre input[type="text"] {
  text-align:center;
}

.rol .character {
  min-width: 550px;
  height: 100%;
}

.rol .item-skill{
  min-width: 550px; 
  max-width: 550px;
}

.rol .item-form {
  font-family: "Montserrat", sans-serif;
}



.rol .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
  max-height: 140px;
}
.rol .img .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.rol .profile-img {
  border: 2px solid blue;
}

.rol .item-image {
  border: 2px solid blue;
}

.rol .charname input[type="text"] {
  width: 100%;
  height: calc(100% - 2px);
  padding-left: 5px;
  border: solid blue 1px;
}

.rol .chartype {
  min-width: 100%;
  font-weight: bold;
  font-size: 14px;
  background: transparent;
  margin-bottom: 5px;
}

.rol .npc-chartype {
  display: grid;
  grid-template-columns: 450px 20px;
  min-width: 100%;
  font-weight: bold;
  font-size: 14px;
  background: transparent;
  margin-bottom: 5px;
}

.rol .section-title {
  font-size: 16px;
  font-weight: normal;
  width:240 px;
  max-width: 240px;
  color: white;
  background: solid;
  background-color: rgb(60, 86, 141);
  border: 2px solid blue;
  text-align: center;
}

.rol .section-vertical {
  font-size: 16px;
  font-weight: normal;
  padding-top:3px;
  width:240 px;
  max-width: 240px;
  color: white;
  background: solid;
  background-color: rgb(60, 86, 141);
  border-left: 2px solid blue;
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  writing-mode: vertical-rl;
}

.rol .section-title-left {
  font-size: 16px;
  font-weight: normal;
  width:240 px;
  max-width: 240px;
  color: white;
  background: solid;
  background-color: rgb(60, 86, 141);
  border-bottom: 2px solid blue;
  text-align: center;
}


.rol .section-title-large {
  font-size: 16px;
  font-weight: normal;
  padding-left: 3px;
  width:320 px;
  max-width: 320px;
  text-align: left;
  color: white;
  background: solid;
  background-color: rgb(60, 86, 141);
  border: 2px solid blue;
}

.rol .abilities{
  display: grid;
  grid-template-columns: 106px 40px;
  margin: 0px;
  gap: 0px;
  min-height: 142px;
  max-height: 142px;
  padding-top:7px;
  padding-left: 20px;
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  border-bottom: 2px solid blue;
  width:240 px;
  max-width: 240px;
}


.rol .abilities-max{
  margin: 0px;
  gap: 0px;
  min-height: 142px;
  max-height: 142px;
  padding-left: 20px;
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  border-bottom: 2px solid blue;
  background-color: crimson;
  width:240 px;
  max-width: 240px;
}

.rol .info-panel {
  margin: 0px;
  gap: 0px;
  min-height: 142px;
  max-height: 142px;
  padding-top: 5px;
  padding-left: 3px;
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  border-bottom: 2px solid blue;
  width:310px;
  max-width: 310px;
}

.rol .right {
  text-align: right;
}

.rol .centre {
  text-align: center;
  align-items: center;
}

.rol .stats-content {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  max-height: 16px;
}

.rol .stats-content-left {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  max-height: 20px;
  height: calc(100% - 2px);
}


.rol .stats-total {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 1px;
  padding: 1px 3px 1px 3px;
  height: 14.5px;
}

.rol .npc-stats-content {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  height: 18px;
  margin: 0px;
}

.rol .npc-stats-input {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  height: 18px;
  padding:1px;
  width: 44px;
  margin: 0px;
}

.rol .fixed-stats-content {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  height: 18px;
  padding-bottom:2px;
}

.rol .charname {
  font-weight: bold;
  padding-top: 2px;
  padding-right: 4px;
}

.rol .charname label{
  margin-bottom: 4px;
  font-weight: bold;
  max-width: 90px;
}

.rol .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.rol .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.rol .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.rol .sheet-tabs {
  flex: none;
  min-width: 685px;
  max-width: 685px;
  max-height: 37px;
}

.rol .sheet-body,
.rol .sheet-body .tab,
.rol .sheet-body .tab .editor {
  height: 100%;
}


.rol .tox .tox-editor-container {
  background: #fff;
}

.rol .tox .tox-edit-area {
  padding: 0 8px;
}

.rol .resource-label {
  font-size: 16px;
  font-weight: bold;
  max-height: 16px;
  border-color: blue;
}

.rol .resource-label-diff {
  font-size: 14px;
  font-weight: bold;
  max-height: 20px;
  border-color: blue;
}

.rol .resource-label-left {
  font-size: 12px;
  font-weight: bolder;
}

.rol .resource-label-topgap {
  font-size: 12px;
  font-weight: bolder;
  margin-top: 1px;
  padding-top: 2px;
}

.rol .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.rol .contacts-header {
  align-items: center;
  font-weight: bold;
  padding-bottom: 0px;
  margin-bottom: 0px;

}

.rol .items-header > * {
  font-size: 14px;
  text-align: center;
}

.rol .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rol .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  color: black;
}

.rol .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.rol .items-list .item-name {
  flex: 2;
  margin: 0;
  font-size: 14px;
  text-align: left;
  align-items: center;
  display: flex;
}

.rol .items-list .item-name h3, .rol .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}

.rol .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}

.rol .items-list .item-controls a {
  font-size: 16px;
  text-align: left;
  margin: 0 6px;
}

.rol .item-create {
  font-size: 12px;
  text-align: left;
  margin: 0 6px;
  min-width: 150px;
}

.rol .items-list .item {
  align-items: center;
  padding: 0 2px;
}

.rol .items-list .item:last-child {
  border-bottom: none;
}

.rol .items-list .item .item-name {
  color: black;
}

.rol .items-list .item .item-name .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.rol .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.rol .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.rol .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}

.rol .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.rol .item-formula {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  padding: 0 8px;
}

.rol .effects .item .effect-source,
.rol .effects .item .effect-duration,
.rol .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.rol .effects .item .effect-controls {
  border: none;
}

.rol .multi-panel-content {
  display:flex; 
  max-height:165px;
  width: 700px;
  max-width: 700px;
}

.rol .npc-multi-panel-content {
  display: flex;
  flex-direction: row;
  max-height:100px;
}

.rol .multi-panel-content .left-panel {
  flex: none;
  padding-left: 10px;
  width: 320px;  
}

.rol .multi-panel-content .right-panel {
  flex: none;
   padding-left: 10px;
  width: 180px;
}

.rol .navtitle {
font-size: 16px;
font-weight: bold;
}

.rol .two-panel-content {
  display: flex;
  flex-direction: row;
  max-height: calc(100% - 210px);
  min-width: 685px;
  max-width: 685px;
  border: solid blue 2px;
}

.rol .two-panel-content .left-panel {
  flex: 1;
  max-width: 100px;
  min-width: 100px;
  border-right: 2px solid blue;
}

.rol .two-panel-content .right-panel {
  flex: 1;
  padding-top: 5px;
  padding-left: 10px;
}

.rol .multi-panel-content .image-panel {
  display: block;
  flex: 0.5;
  min-width: 165px;
  max-width: 165px;
}

.rol .statdisplay {
  text-align: center;
  text-justify:auto;
  padding: 1px 3px 1px 3px;
}

.rol .statblock {
  display: grid;
  gap: 0px;
  text-align: center;
  grid-template-columns: 38px 10px 38px;
  margin: 0px;
}

.rol .npc-statblock {
  display: grid;
  gap: 0px;
  text-align: center;
  grid-template-columns: 44px 44px 44px 44px 44px 44px 44px 44px 44px 44px;
  padding-top: 10px;
  margin: 0px;
  max-height: 20px;
}

.rol .statblock input[type="text"] {
  height: calc(100% - 2px);
  padding: 1px 3px 1px 3px;
  margin-right: 2px;
}

.rol .unlock-character-sheet{
  padding-top:10px;
  min-width: 14px;
}

.rol .resource-label-gap {
  margin-bottom: 5px;
}

.rol .plainboxed {
  border: 1px solid blue;  
  padding-left: 3px;
  border-radius: 3px;
}

.rol .icon{
  font-size: 16px !important;
}

.rol .boxed {
  border: 1px solid blue;
  padding: 3px;
  margin-left: 5px;
  margin-right: 5px;
}  

.rol .boxed-move{
    border: 1px solid blue;
    margin: 0px 5px 0px 5px;
    gap: 0px;
}

.rol .move {
  display: grid;
  gap: 0px;
  padding: 0px;
}

.rol .npc-boxed {
  display: grid;
  gap: 0px;
  margin: 0px;
  grid-template-columns: 470px 100px 20px;
  padding: 3px;
  min-height: 150px;
  max-height: 150px;
  max-width: 600px;
  border: 2px solid blue;
}

.rol .npc-section {
  max-width: 600px;
  padding: 3px;
  margin: 0px;
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  border-bottom: 2px solid blue;
}

.rol .npc-grid {
  display: grid;
  font-size:14px;
  min-height:16px;
  gap: 0px;
  margin: 0px;
 }

 .rol .npc-adv{
  grid-template-columns: 145px 145px 145px 145px;
 }

 .rol .npc-skills{
  grid-template-columns: 110px 35px 110px 35px 110px 35px 110px 35px;
 }

 .rol .npc-spells{
  grid-template-columns: 125px 20px 125px 20px 125px 20px 125px 20px;
 }

.rol .border-right{
  border-right: 1px solid darkgray;
  margin-right: 2px;
}

.rol .npc-boxed-right {
  padding: 3px;
  max-height: 150px;
  max-width: 110px;
}

.rol .npc-boxed-left {
  padding: 3px;
  max-height: 150px;
  max-width: 470px;
}

.rol .npc-htd-boxed {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left:auto;
  margin-right: auto;
  border: 1px solid blue;
  padding: 3px;
  background-color: lightgray;
  max-width: 50px;
}

#controls ol.control-tools > li.toggle.active {
  background: rgba(60, 0, 120, 0.75);
  color: orange;
  border: 1px solid #9b8dff;
  box-shadow: 0 0 10px #9b8dff;
}

.rol .tough-control {
  color: gray;
  font-size: 18px;
}

.rol .control-active {
  color: black;
  text-shadow: 0 0 10px red, 0 0 1em red, 0 0 0.2em red;
}

.rol .npc-header {
  margin-top: 0px;
  max-width: 470px;
  min-width: 470px;
  display:grid;
  grid-template-columns: 240px 200px 30px;
}

.rol .skillheader-fields {
  max-width: 440px;
  min-width: 440px;
  display:grid;
  grid-template-columns: 200px 10px 200px;
  font-weight: bolder; 
  align-content: center;
  justify-content: center;
}

.rol .display-switch {
  display: inline-block;
  margin: 2px 2px 0 0;
  padding: 0 5px;
  margin: 0 5px;
  line-height: 16px;
  min-height: 16px;
  min-width: 60px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid blue;
  border-radius: 3px;
  color: black;
}

.rol .display-switch-small {
  display: inline-block;
  margin: 2px 2px 0 0;
  padding: 0 5px;
  margin: 0 5px;
  line-height: 16px;
  min-height: 16px;
  min-width: 60px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid blue;
  border-radius: 3px;
  color: black;
}

.rol .adv-switch {
  display: inline-block;
  margin: 2px 2px 0 0;
  padding: 0 10px;
  line-height: 16px;
  min-height: 16px;
  min-width: 100px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border: 1px solid blue;
  border-radius: 3px;
  color: black;
}

.rol .skill-prop {
  font-size: 14px;
  font-weight: bold;
  min-height: 23px;
  max-height: 23px;
  margin: 0px;
  padding: 0px;
}

.rol .skill-prop .display-switch {
  display: inline-block;
  margin: 2px 2px 0 0;
  min-height: 20px;
  max-height: 20px;
  min-width: 100px;
  max-width: 150px;
  text-align: center;
  border: 1px solid blue;
  border-radius: 3px;
  color: black;
}

.rol .skillname {
  margin: auto 0 auto 0;
  font-size: 14px;
  font-weight:bold;
}

.rol .skillname input {
  margin: auto 0 auto 0;
  font-size: 14px;
  font-weight:bold;
  border: solid blue 1px;
}

.rol .skillname-gap {
  text-align: center;
  margin: auto 0 auto 0;
  font-weight:bolder;
  font-size: 16px;
}

.rol .skill-resource{
  max-width: 440px;
  min-width: 440px;
  display:grid;
  grid-template-columns: 100px 100px;
}

.rol .adv-resource{
  max-width: 440px;
  min-width: 440px;
  display:grid;
  grid-template-columns: 100px 200px;
}

.rol .develop-resource{
  max-width: 440px;
  min-width: 440px;
  display:grid;
  grid-template-columns: 200px 200px;
}

.rol .spell-resource{
  max-width: 440px;
  min-width: 440px;
  display:grid;
  grid-template-columns: 100px 300px;
}

.rol .npc-name-resource{
  padding-left: 5px;
  max-width: 440px;
  min-width: 440px;
  display:grid;
  grid-template-columns: 200px 200px;
}

.rol .loc-label-inp {
  font-size: 14px;
  font-weight: bold;
  text-align:center;
  height: calc(100% - 2px);
  border-color: blue;
}

.rol .skill-label-inp {
  font-size: 14px;
  font-weight: bold;
  height: calc(100% - 2px);
  border-color: blue;
}

.rol .skill-score-inp {
  height:14px;
  font-size: 14px;
  font-weight:bold;
  border-color: blue;
}

.rol .biography-doc{
  border: 1px solid blue;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;

}

.rol .background-doc{
  border: 1px solid blue;
  font-size:14px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  margin-right:10px;
  height: 140px;
}

.rol .npc-doc{
  border: 1px solid blue;
  font-size:14px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
  max-width: 588px;
}

.rol .trait-doc{
  border: 1px solid blue;
  font-size:14px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  margin-right:10px;
  height: 50px;
  width: 560px;
}

.rol .skill-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  height:100%;
}

.rol .specialisation-header {
  list-style: none;
  width: 180px;
  margin-right: 5px;
  font-size: 14px;
  font-weight:bold;
}

.rol .police-header {
  list-style: none;
  font-size: 16px;
  font-weight: normal;
  color: white;
  background: solid;
  background-color: rgb(60, 86, 141);
}

.rol .develop-header {
  width:300 px;
  max-width: 300px;
}

.rol .equip-header {
  width:350 px;
  max-width: 350px;
}

.rol .spell-header {
  width:250 px;
  max-width: 250px;
}

.rol .skill-header {
  width:180 px;
  max-width: 180px;
}

.rol .item-hdr {
  padding-left: 5px;
}

.rol .skillpoint-header {
  list-style: none;
  width: 360px;
  margin-right: 5px;
  font-weight: bolder;
  font-size: 16px;
}

.rol .specialisation {
  margin-left: 5px;
  padding-left: 5px;
  width: 175px;
  font-size: 14px;
  font-weight:bold;
  display: grid;
  grid-template-columns: 130px auto 35px;
  border-left: 1px solid;
}

.rol .skill-listitem {
  width: 180px;
  display: grid;
  font-size: 14px;
  font-weight:bold;
  grid-template-columns: 130px auto 35px;
}

.rol .spell-listitem {
  width: 250px;
  display: grid;
  font-size: 14px;
  font-weight:bold;
  grid-template-columns: 200px 20px 20px;
}

.rol .weapons-listitem {
  width: 350px;
  display: grid;
  grid-template-columns: 160px auto 80px 60px ;
  font-size:14px;
  font-weight:bold;
}

.rol .armour-listitem {
  width: 350px;
  display: grid;
  grid-template-columns: 250px auto 60px ;
  font-size:14px;
  font-weight:bold;
}

.rol .skill-score {
  text-align: center;
  margin: auto;
}

.rol .skill-score input[type='text'] {
  height: calc(100% - 2px);
}

.rol .item-control.active {
  color: crimson;
}

.rol .detailblockbottom{
  margin: 0;
  grid-template-columns: 220px 140px;
}

.rol .detailblockbottom {
  max-width: 90px;
  min-width: 90px;
}

.rol .detailblockbottominput {
  max-width: 90px;
  min-width: 90px;
}

.rol .detailblockbottom-short {
  max-width: 40px;
  min-width: 40px;
}

.rol .damage-status {
  margin-top: 3px;
  text-align: center;
}

.flavour-result {
  font-size: 16px;
}

.result-success {
  color: green;
}

.result-fail {
  color: red;
}

.order-name {
  font-size: 16px;
  font-weight: bold;
}

#difficulty-roll-form .align-center {
  justify-content: center;
  text-align: center;
}

.rol .signare {
  display: grid;
  grid-template-columns: 40px auto ;
  margin-top: 0px;
}

.rol .signare-name {
  padding-top: 5px;
  font-size: 14px;
  font-weight: bold;
  margin: auto 0px;
}
.rol .signare-value {
  font-size: 14px;
  font-weight: bold;
  padding-left: 5px;
  max-width: 560px;
  border: solid blue 1px;
  margin-right:10px;
}

.rol .dropdown{
  padding-left: 20px;
}

.rol .affluence{
  width: 100%;
  height: calc (100%-2px);
  padding: 1px 3px 1px 5px;
  font-weight: normal;
  border: 1px solid blue;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}

.rol .npc-advantages{
  display: grid;
  margin-top: 0px;
  max-width: 470 px;
  grid-template-columns: 100px 100px 100px;
}

.rol .partyOrder {
  font-size: 16px;
}

.rol .dice-total{
  font-size: 20px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 3px;
}

.rol .dice-success{
  background-color: rgb(21, 211, 122);
}

.rol .dice-fail{
  background-color: orange;
}

.rol .roll-icons{
  font-size: 16px;
}

.rol .bottomline {
  padding-top:10px;
  margin-bottom: 5px;
  border-bottom: solid black 1px;
}

.rol .bold {
  font-weight: bold;
}

.rol .right-gap{
  max-width: 32px;
}

.rol .item-label{
  font-size: 14px;
  font-weight: bold;
}

.rol .prereq {
  font-size: 14px;
  font-weight: bold;
  border-color: blue;
}