<header>

  <ol class="items-list effects-list">
    <div class="skilltype-header">{{ localize 'ROL.weapons' }}</div>
    {{#each weapons as |weapon id|}}
    <li class="item weapons-listitem" data-item-id="{{weapon._id}}">
      <div class="item-name">
        {{#if (eq weapon.system.type "Firearms")}}
          <div class="skill-rollable weapon-name rollable" data-type="Weapon" data-subtype="Missile" data-formula="1d100" data-target = {{../system.firearmsScore}} data-damage = {{weapon.system.damage}} data-damageformula = "1d100" data-damagetarget = {{../system.abilities.dex.value}} data-label={{weapon.name}}>{{weapon.name}}</div>
        {{else}}
          {{#if (eq weapon.system.type "Melee")}}
            <div class="skill-rollable weapon-name rollable" data-type="Weapon" data-subtype="Melee" data-formula="1d100" data-target = {{../system.meleeScore}} data-damage = {{weapon.system.damage}} data-damageformula = "1d100" data-damagetarget = {{../system.abilities.str.value}} data-label={{weapon.name}}>{{weapon.name}}</div>
          {{else}}
            <div class="skill-rollable weapon-name rollable" data-type="Weapon" data-subtype="Thrown" data-formula="1d100" data-target = {{../system.throwScore}} data-damage = {{weapon.system.damage}} data-damageformula = "1d100" data-damagetarget = {{../system.abilities.dex.value}} data-label={{weapon.name}}>{{weapon.name}}</div>
          {{/if}}
        {{/if}}  
      </div>
      
      {{#if (eq weapon.system.type "Melee")}}
        <div class="skill-rollable damage-name rollable centre" data-type="Damage" data-subtype="Melee" data-formula = "1d100" data-target = {{../system.abilities.str.value}} data-label={{weapon.name}} data-damage = {{weapon.system.damage}} title="{{ localize 'ROL.damage' }}">{{weapon.system.damage}}</div>
      {{else}}  
        {{#if (eq weapon.system.type "Firearms")}}  
          <div class="skill-rollable damage-name rollable centre" data-type="Damage" data-subtype="Missile" data-formula = "1d100" data-target = {{../system.abilities.dex.value}} data-label={{weapon.name}} data-damage = {{weapon.system.damage}} title="{{ localize 'ROL.damage' }}">{{weapon.system.damage}}</div>
        {{else}}
          <div class="skill-rollable damage-name rollable centre" data-type="Damage" data-subtype="Thrown" data-formula = "1d100" data-target = {{../system.abilities.dex.value}} data-label={{weapon.name}} data-damage = {{weapon.system.damage}} title="{{ localize 'ROL.damage' }}">{{weapon.system.damage}}</div>
        {{/if}}
      {{/if}}

      {{#if (eq weapon.system.type "Melee")}}
        <div title="{{ localize 'ROL.weaponType' }}" >{{ localize 'ROL.melee' }}</div>
      {{else}}
        {{#if (eq weapon.system.type "Thrown")}}
          <div title="{{ localize 'ROL.weaponType' }}" >{{ localize 'ROL.thrown' }}</div>
        {{else}}
          <div title="{{ localize 'ROL.weaponType' }}" >{{ localize 'ROL.firearms' }}</div>
        {{/if}}
      {{/if}}    
      
      <div class="item-controls">
        {{#if weapon.system.signature}}
          <a class="item-control" title="{{ localize 'ROL.signatureWeapon' }}"><i class="result-success fas fa-star"></i></a>
        {{/if}}
        {{#if weapon.system.automatic}}
          <a class="item-control" title="{{ localize 'ROL.automaticWeapon' }}"><i class="result-success fas fa-crosshairs"></i></a>
        {{/if}}
        {{#if weapon.system.semiauto}}
          <a class="item-control" title="{{ localize 'ROL.semiautoWeapon' }}"><i class="result-fail fas fa-location-crosshairs"></i></a>
        {{/if}}
        
        <a class="item-control item-edit" title="{{ localize 'ROL.editWeapon' }}"><i class="fas fa-info-circle"></i></a>
        {{#unless ../system.flags.locked}}
          <a class="item-control item-delete" title="{{ localize 'ROL.deleteWeapon' }}"><i class="fas fa-trash"></i></a>
        {{/unless}}
      </div>
    </li>
    {{/each}}
    <br>
  </ol>
  

  <ol class="items-list effects-list">
    <div class="skilltype-header">{{ localize 'ROL.armour' }}</div>
    {{#each armour as |armour id|}}
    <li class="item weapons-listitem" data-item-id="{{armour._id}}">
      <div class="item-name">
         <div >{{armour.name}}</div>
      </div>
      <div class = "centre" title="{{ localize 'ROL.ap' }}">{{system.ap}}</div>
      {{#if (eq system.type 'Natural')}}
        <div title="{{ localize 'ROL.armourType' }}" >{{ localize 'ROL.natural'}}</div>
      {{else}}
        {{#if (eq system.type 'Regular')}}
          <div title="{{ localize 'ROL.armourType' }}" >{{ localize 'ROL.regular'}}</div>
        {{else}}
          <div title="{{ localize 'ROL.armourType' }}" >{{ localize 'ROL.ballistic'}}</div>
        {{/if}}
      {{/if}}

      <div class="item-controls">
        <a class="item-control item-edit" title="{{ localize 'ROL.editArmour' }}"><i class="fas fa-info-circle"></i></a>
        {{#unless ../system.flags.locked}}
          <a class="item-control item-delete" title="{{ localize 'ROL.deleteArmour' }}"><i class="fas fa-trash"></i></a>
        {{/unless}}
      </div>
    </li>
    {{/each}}
    <br>
  </ol>

  <ol class="items-list effects-list">
    <li class="flexrow contacts-header">
      <div class="skilltype-header">{{ localize 'ROL.equipment' }}</div>
      <div class="item-controls">
        <a class="item-control item-create" title="{{ localize 'ROL.createEquipment' }}" data-type="equipment"><i class="fas fa-plus"></i> {{ localize 'ROL.addItem' }}</a>
      </div>  
    </li>
  
    {{#each equipment as |equipment id|}}
    <li class="item weapons-listitem" data-item-id="{{equipment._id}}">
      <div class="item-name">
         <div >{{equipment.name}}</div>
      </div>
      <div></div>
      <div></div>
      <div class="item-controls">
        <a class="item-control item-edit" title="{{ localize 'ROL.editEquipment' }}"><i class="fas fa-info-circle"></i></a>
        {{#unless ../system.flags.locked}}
          <a class="item-control item-delete" title="{{ localize 'ROL.deleteEquipment' }}"><i class="fas fa-trash"></i></a>
        {{/unless}}
      </div>
    </li>
    {{/each}}
    <br>
  </ol>


</header>