<form class = "rol" id="mortalWound-form">
  <div class = "charname">{{ localize 'ROL.medical'}}</div>
  <br>
  <div class = "charname">{{ localize 'ROL.twoOptions'}}</div>
  <br>  

  <div class="flexrow">
    <label>Injured</label>
    <input type="checkbox" name="injured" {{#if limited}} checked {{/if}}></input>
  </div>
  <br>

  {{#if (gt luck 20)}}
  <div class="flexrow">
    <label>Luck Loss</label>
    <input type="checkbox" name="luck"></input>
  </div>
  <br>
  {{/if}}


  <div class="flexrow">
    <label>Development Loss</label>
    <input type="checkbox" name="develop" {{#if limited}} checked {{/if}}></input>
  </div>
  <br>

  {{#unless disfigured}}
  <div class="flexrow">
    <label>Disfigurement</label>
    <input type="checkbox" name="disfigured"></input>
  </div>    
  <br>
  {{/unless}}

</form>