<form class="{{cssClass}}" autocomplete="off">

  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>

    <div class="skillheader-fields  grid grid-3col">
      <div class="skillname">
          <input name="name" type="text" value="{{item.name}}" placeholder="name"/>
      </div>
      <div></div>
      <div></div>
    </div>  
  </header>

  {{!-- Description  --}}
    <section class="sheet-body">
      <div class="charname">{{ localize 'ROL.description' }}:</div>
      <div>
        {{editor system.equipment.description class="biography-doc" target="system.equipment.description" button=true owner=owner editable=editable}}
      </div>
    </section>
</form>
